@media screen and (max-width: 767px) {
    body {
        font-size: 1.2em;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 1.4em;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1.6em;
    }
}
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.8em;
    }
}
body {
    font-family: 'Kirang Haerang', cursive;
    margin: 0;
}
.image-container {
    display: flex;
    min-height:100vh;
    overflow: hidden;
}
.image {
    color:#AFF5F4;
    text-align: center;
    align-items:center;
    font-size: 70px;
    background-size:cover;
    background-position:center;
}
.name {
    font-size: 200px;
}
#image1 {
    background-image: url(https://s3.us-east-2.amazonaws.com/bigby.flex.panel.image.gallery/IMG_0496.JPG);
}
#image2 {
    background-image: url(https://s3.us-east-2.amazonaws.com/bigby.flex.panel.image.gallery/IMG_0612.JPG);
}
#image3 {
    background-image: url(https://s3.us-east-2.amazonaws.com/bigby.flex.panel.image.gallery/IMG_0682.JPG);
    
}
#image4 {
    background-image: url(https://s3.us-east-2.amazonaws.com/bigby.flex.panel.image.gallery/IMG_0711.JPG);
}
#image5 {
    background-image: url(https://s3.us-east-2.amazonaws.com/bigby.flex.panel.image.gallery/IMG_0549.JPG);
}